* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  background-color: #88001b;
  color: white;
}

/* BARRA DE NAVEGACIÓN */

.navbar-nav {
  width: 100%;
}

#encabezado {
  background-color: #74091e;
  color: white;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
}

.nav-item a {
  color: white !important;
}

/* BOTÓN DEL CARRITO */

.btn-primary.cesta {
  background-color: transparent;
  border: none;
}

.btn-primary.cesta:hover {
  background-color: transparent;
  border: none;
}

/* BANNER Y TÍTULO PRINCIPAL */

h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 3;
  text-shadow: 2px 2px 2px #141414;
}
.banner {
  width: auto;
  height: 500px;
  background-image: url("../media/imagen.jpg");
  background-size: contain; /*o cover*/
  background-repeat: no-repeat;
  background-position: center;
  /*background-position-y: center;
    background-position-y: 30px;*/
  background-attachment: fixed;
}

.division {
  width: auto;
  position: relative;
  bottom: -25px;
  overflow: hidden;
}

/* CARDS */

.card {
  margin: 1em;
  height: 400px;
  border: 1px solid black;
  color: #74091e;
  border-radius: 10px;
}

.card-img-top {
  width: 100px;
  margin-left: 6em;
  box-sizing: border-box;
}

.card-body {
  text-align: center;
}

.btn-primary {
  background-color: #88001b;
  border: 1px solid #74091e;
}

.btn-primary:hover {
  background-color: white;
  color: #88001b;
  border: 1px solid #74091e;
}

/* VENTANA MODAL */

.modal-content {
  color: #74091e;
}

/* Modal de agregado al carrito */

#productoAgregadoOk {
  display: none;
  position: fixed;
  top: 0;
  left: 5px;
  z-index: 1;
  background: crimson;
  color: white;
  text-shadow: 1px 1px 1px #88001b;
  padding: 5px;
  line-height: 2.5;
  border: 1px solid #74091e;
  border-radius: 0 0 5px 5px;
}
